.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

/* Start */
body{
  background-color: whitesmoke;
}

.main_story_container{
  height: calc(((100vh - 2rem) * 0.85) - 30px);
  margin-bottom: 30px;
}

.input_container{
  position: absolute;
  bottom: 1.25rem;
  width: calc(100% - 2.5rem);
}

.submain_story_container{
  height: calc((100vh - 2rem) * 0.15);
  cursor: pointer;
}

.submain_story_container .card-body{
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.submain_card{
  height: 100%;
  width: 17.5%;
  background-color: aqua;
  margin: 0 .25rem;
  display: inline-block;
}

.submain_card:hover{
  background-color: black;
}

.submain_card div{
  overflow: hidden;
  width: 100%;
  display:table;
  height: 100%;
}

.submain_card span{
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  display:table-cell;
  font-size: .7rem;
  white-space: pre-wrap;
}

.chat_container{
  height: calc(100vh - 2rem);
}

#chat_container{
  height: 100%;
}

#chat_container > ul{
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}

#chat_container > ul li {
  padding: 5px 10px;
  font-size: .7rem;
}

#chat_container > ul li:nth-child(odd) {
  background: #eee;
}

#chat_container > form{
  width: calc(100% - 2.5rem);
  position: absolute;
  bottom: 0;
}

textarea.no-resize{
  resize: none;
}

#text_preview{
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: pre-wrap;
}
#btn_close_preview{
  position: absolute;
  right: 1.25rem;
  /* display: none; */
}